.App {
  text-align: center;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.appcontainer{
  text-align: center;
}
.login{
  margin-top:5%;
}
.instructions{
  background-color: lightblue;
  height: 100px;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  
}
.our_mission{
  background-color: lightblue;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 769px) {
  .tile.is-parent.is-4 {
    display: block;
  }
  .boxcontainer {
    display: block;
  }
  .tile.is-child.box {
    display: block;
  }
}


.homepage{
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
}

.boxcontainer{
  display: flex;
  flex-flow: row wrap;
  margin-top: 3em;
  padding-top: 4em;
}

.BannerContainer {
  background-color: #13294B;
  height: 125px;
}

.banner {
  display: flex;
  font-size: 50px;
  padding: 22px;
  color: white;
  font-weight: bold; 
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  display: flex;
  height: 80px;
  padding-left: 20px;
}

#search {
  background-color: #7BAFD4;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

#filler {  
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: italic;
}

#join {
  background-color: #7BAFD4;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#joined{
  background-color: #13294B;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.tile.is-parent.is-4 {
  width: 375px;
  height: 230px;
  margin: 10px;
}  

.tile.is-child.box {
  width: 350px;
  height: 230px;
} 
 
